<div style="width: 100%; text-align: center;">
    <div style="background-color:#007F00; padding: 0.5rem;">
        <h1 style="font-weight: bold; font-size: 2.5em; color: black;"> AGRHYMET CENTRE CLIMATIQUE REGIONAL POUR L'AFRIQUE DE L'OUEST ET LE SAHEL</h1>
   </div>

   <div style="text-align: center;">
  <img src="https://www.sareco.org/wp-content/uploads/2017/07/plrDvYX1.jpg" width="200">
</div>

<a id="1"></a>
# <p style="padding:10px;background-color:#FFFFFF ;margin:0;color:#007F00;font-family:newtimeroman;font-size:100%;text-align:center;border-radius: 15px 50px;overflow:hidden;font-weight:500">Capacity Building in Seasonal Hydrological Forecasting </p>

<a id="1"></a>
### <p style="padding:10px;background-color:#000000 ;margin:0;color:#007F00;font-family:#newtimeroman;font-size:100%;text-align:center;border-radius: 15px 50px;overflow:hidden;font-weight:500">Introduction to R and Programming Basics </p>

## üéØ Learning Objectives
- Run R interactively (console, scripts, notebooks).
- Manipulate basic R objects: vectors, matrices, data frames, lists.
- Use simple functions and control structures (conditions, loops).
- Perform basic data manipulation with `dplyr`.
- Apply knowledge in a mini-project using hydrological flow data.

## üìù Syntax Rules in R

- **Case sensitive**: `Flow` ‚â† `flow`  
- **Assignment operators**:  
  - `<-` (recommended) or `=`  
  - Example: `x <- 10`
- **Comments**: use `#` to add a comment  
- **Functions**: always end with `()` even if no argument (`mean(x)`)
- **Vectors**: created with `c()`
- **Indexing**: `[ ]` to extract elements from vectors/data frames

## üìõ Naming Conventions

To keep code clear and readable, follow these guidelines:

- Use **lowercase_with_underscores** for variables.  
  Example: `mean_flow`, `daily_precip`  
- Use **UpperCamelCase** or verbs for functions.  
  Example: `CalculateDischarge()`  
- Names must start with a letter (not a number).  
- Avoid spaces or special characters (`#`, `%`, `-`).
- Keep names **short but descriptive**:  
  - Good: `q_obs` (observed discharge)  
  - Bad: `qqqq123`

## üî§ Data Types in R

R supports several fundamental data types:

- **Numeric**: real numbers (e.g. `3.14`, `-10`, `1000`)
- **Integer**: whole numbers (e.g. `1L`, `25L`)
- **Character**: text strings (e.g. `"River"`, `"Hydrology"`)
- **Logical**: Boolean values (`TRUE`, `FALSE`)
- **Date/Time**: calendar dates (`as.Date("2020-01-01")`)

In [2]:
# Examples
num <- 12.5         # numeric
int <- 10L          # integer
txt <- "River"      # character
flag <- TRUE        # logical
today <- as.Date("2023-05-01")

# üßÆ Basic R Objects

R provides several object types. The most common are:
- **Vector**: sequence of values of the same type.
- **Matrix**: 2D array of numbers.
- **Data frame**: tabular data, similar to Excel.
- **List**: heterogeneous collection (can contain data frames, vectors, etc.).

In [3]:
# Vector
flows <- c(12, 25, 33, 8, 54)
flows

[1] 12 25 33  8 54

In [ ]:
# Matrix
mat <- matrix(1:6, nrow = 2, ncol = 3)
mat

In [4]:
# Data frame
df <- data.frame(
  Date = as.Date("2020-01-01") + 0:4,
  Qobs = flows
)
df

  Date       Qobs
1 2020-01-01 12
2 2020-01-02 25
3 2020-01-03 33
4 2020-01-04  8
5 2020-01-05 54

In [5]:
# List
my_list <- list(station = "A", records = df, area_km2 = 1500)
my_list

$station
[1] "A"

$records
        Date Qobs
1 2020-01-01   12
2 2020-01-02   25
3 2020-01-03   33
4 2020-01-04    8
5 2020-01-05   54

$area_km2
[1] 1500

We can extract and explore objects with **indexing** and built-in functions.

In [6]:
mean(flows)       # mean flow
max(flows)        # maximum
length(flows)     # length of vector

flows[1:3]        # first three values
df$Qobs           # Qobs column
df[2:4, ]         # rows 2 to 4

[1] 26.4

[1] 54

[1] 5

[1] 12 25 33

[1] 12 25 33  8 54

  Date       Qobs
2 2020-01-02 25
3 2020-01-03 33
4 2020-01-04  8

# üîÑ Control Structures

Conditions and loops allow automation in R.

In [7]:
# Condition
Q <- 120
if (Q > 100) {
  print("High flow")
} else {
  print("Normal flow")
}

[1] "High flow"

In [ ]:
# Vectorized condition
df$State <- ifelse(df$Qobs > 30, "Flood", "Normal")
df

In [ ]:
# For loop
for (q in flows) {
  print(q * 2)
}

# ‚öôÔ∏è Functions

Functions make code reusable.

In [8]:
# Example: specific discharge
specific_discharge <- function(Q, area_km2) {
  return(Q / area_km2)
}

specific_discharge(150, 300)  # 0.5 m¬≥/s/km¬≤

[1] 0.5

# üìä Data Manipulation with dplyr

`dplyr` is part of the **tidyverse**.  
Key functions:
- `filter()` ‚Üí filter rows
- `select()` ‚Üí select columns
- `mutate()` ‚Üí create new columns
- `group_by()` + `summarise()` ‚Üí aggregation

In [ ]:
# Install package dplyr if doesn't exist yet

In [9]:
library(dplyr)

df |>
  mutate(Class = ifelse(Qobs > 30, "Flood", "Normal")) |>
  group_by(Class) |>
  summarise(
    Mean = mean(Qobs),
    Max = max(Qobs),
    n = n()
  )

Attaching package: 'dplyr'


The following objects are masked from 'package:stats':

    filter, lag


The following objects are masked from 'package:base':

    intersect, setdiff, setequal, union

  Class  Mean Max n
1 Flood  43.5 54  2
2 Normal 15.0 25  3

# Mini-project: Flow Data Analysis

### Dataset
You have a CSV file `flows_station.csv` with two columns:
- `Date` (YYYY-MM-DD)
- `Qobs` (observed flow, m¬≥/s)

### Tasks
1. Import the file.  
2. Compute: annual mean, annual maximum, number of flood days (Q > 80).  
3. Categorize each day:  
   - Flood if Q > 80  
   - Normal if 20 < Q ‚â§ 80  
   - Low flow if Q ‚â§ 20  
4. Save results as `outputs/flows_categorized.csv`.

<div style="text-align: center;">
  <img src="https://previews.123rf.com/images/ribah/ribah1504/ribah150400016/38935644-3d-illustration-of-man-holding-cloth-banner-of-word-text-thank-you-3d-rendering-of-human-people.jpg" width="200">
</div>